<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.will.dictionary"
    android:versionCode="1"
    android:versionName="1.0" xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.will.dictionary.Dict"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.will.dictionary.ResultActivity"
            android:theme="@android:style/Theme.Dialog"
            android:label="@string/textResult" >
            
        </activity>
        <provider
            android:name="com.will.dictionary.provider.DictProvider"
            android:authorities="com.will.dictionary.provider.dictprovider"
            android:exported="true" />
    </application>

</manifest>
